body {
  margin: 0;
  padding: 0;
}

.container {
  width: 500px;
  margin: 50px auto;
  display: grid;
  /* Ukuran explicit adalah ukuran grid yang ditentukan langsung */
  /* Ukuran implicit adalah ukuran grid sisanya */
  grid-template-columns: 150px 150px auto; /* 3kolom */
  grid-template-rows: 150px 150px; /* 2baris */
}

.item {
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: cornflowerblue;
}
