body {
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  width: 70%;
  margin: 50px auto;
  border: 3px solid black;
  display: grid;
  /* Shorthand */
  grid-template:
    [baris1-start] "header header" 50px
    "aside main" 2fr [baris1-end baris2-start]
    "footer footer" 50px [baris2-end] / 1fr 2fr;
  /*  Grid Gap untuk mengatur lebar grid line (jarak antar area) */
  /* grid-column-gap: 3px; (cara lama) */
  column-gap: 3px;
  /* grid-column-gap: 3px; (cara lama) */
  row-gap: 3px;

  /* grid-gap: 10px; (cara lama) */
  gap: 50px 10px; /* column row gap */
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: coral;
  grid-area: header;
  /* men-set div dll, ke dalam area di grid-template */
}

aside {
  background-color: cornflowerblue;
  grid-area: aside;
}

main {
  background-color: lightseagreen;
  grid-area: main;
}

footer {
  background-color: orchid;
  grid-area: footer;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 70px 2fr 50px;
    grid-template-areas:
      "header header"
      "aside aside"
      "main main"
      "footer footer";
  }
}
