body {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr) repeat(5, 1.5fr);
  /* repeat ( berapa kali, ukuran ) */
}

.item {
  background-color: coral;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: cornflowerblue;
}
