body {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  height: 500px;
  border: 3px solid black;
  margin: 50px auto;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 5px;
  /* Justify Content */
  /* Posisi Grid dalam suatu container */
  /* justify-content: start; */
  /* justify-content: end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.kotak {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.kotak:nth-child(even) {
  background-color: coral;
  height: 60%;
  width: 60%;
}
