body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 500px;
  border: 3px solid black;
  margin: 50px auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 5px;
  /* align items, posisi seluruh item secara vertikal (X) */
  /* align-items: start; */
  align-items: end;
  /* align-items: center; */
  /* align-items: stretch; */
}

.kotak {
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.kotak:nth-child(even) {
  background-color: coral;
  height: 150px;
  width: 150px;
}
